NET GPIO_SW_C       LOC="AJ6";

NET USER_CLK        LOC="AH15";

NET FPGA_SERIAL_RX  LOC="AG15";
NET FPGA_SERIAL_TX  LOC="AG20";

NET     PHY_COL         LOC="B32";
NET     PHY_COL         IOSTANDARD="LVCMOS25";

NET     PHY_CRS         LOC="E34";
NET     PHY_CRS         IOSTANDARD="LVCMOS25";

NET     PHY_RESET       LOC="J14";
NET     PHY_RESET       IOSTANDARD="LVCMOS25";

NET     PHY_RXCLK       LOC="H17";
NET     PHY_RXCLK       IOSTANDARD="LVCMOS25";

NET     PHY_RXCTL_RXDV  LOC="E32";
NET     PHY_RXCTL_RXDV  IOSTANDARD="LVCMOS25";

NET     PHY_RXD<0>      LOC="A33";
NET     PHY_RXD<0>      IOSTANDARD="LVCMOS25";

NET     PHY_RXD<1>      LOC="B33";
NET     PHY_RXD<1>      IOSTANDARD="LVCMOS25";

NET     PHY_RXD<2>      LOC="C33";
NET     PHY_RXD<2>      IOSTANDARD="LVCMOS25";

NET     PHY_RXD<3>      LOC="C32";
NET     PHY_RXD<3>      IOSTANDARD="LVCMOS25";

NET     PHY_RXER        LOC="E33";
NET     PHY_RXER        IOSTANDARD="LVCMOS25";

NET     PHY_TXCLK       LOC="K17";
NET     PHY_TXCLK       IOSTANDARD="LVCMOS25";

NET     PHY_TXCTL_TXEN  LOC="AJ10";
NET     PHY_TXCTL_TXEN  IOSTANDARD="LVCMOS25";

NET     PHY_TXD<0>      LOC="AF11";
NET     PHY_TXD<0>      IOSTANDARD="LVCMOS25";

NET     PHY_TXD<1>      LOC="AE11";
NET     PHY_TXD<1>      IOSTANDARD="LVCMOS25";

NET     PHY_TXD<2>      LOC="AH9";
NET     PHY_TXD<2>      IOSTANDARD="LVCMOS25";

NET     PHY_TXD<3>      LOC="AH10";
NET     PHY_TXD<3>      IOSTANDARD="LVCMOS25";

NET     PHY_TXER        LOC="AJ9";
NET     PHY_TXER        IOSTANDARD="LVCMOS25";

NET "USER_CLK" TNM_NET = USER_CLK;
TIMESPEC TS_USER_CLK = PERIOD "USER_CLK" 10.0 ns HIGH 50%;
